ul#dropdown1.dropdown-content
  li
    a(href="/paypal/resttest") REST Test
nav
  .nav-wrapper
    a.brand-logo(href="#!") Purblind
    a.button-collapse(href="#" data-activates="mobile-demo") <i class="material-icons">menu</i></a>
    ul.right.hide-on-med-and-down
      li
        a.dropdown-button(href="#!", data-activates="dropdown1") PayPal<i class="material-icons right">arrow_drop_down</i>
    ul#mobile-demo.side-nav
      li
        a(href="/paypal/resttest") REST Test
