
<div>
  <h1>REST Test</h1>
  <div class="row">
    <div class="col-xs-6">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-12">
            <h4 ng-model="call.cred.response.valid" ng-show="call.cred.response.valid" class="alert alert-success">{{call.cred.response.valid}}</h4>
            <h4 ng-model="call.cred.response.invalid" ng-show="call.cred.response.invalid" class="alert alert-danger">{{call.cred.response.invalid}}</h4>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <label for="clientid">Client ID</label>
            <input id="clientid" type="text" ng-model="call.clientid" class="form-control"/>
          </div>
          <div class="col-xs-6">
            <label for="clientsecret">Client Secret</label>
            <input id="clientsecret" type="text" ng-model="call.clientsecret" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <button ng-click="call.cred.submit()" class="btn btn-primary">Test credentials</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <select ng-model="env.host" ng-options="env.host as env.name for env in call.envs" class="form-control"></select>
          </div>
          <div class="col-xs-6"></div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <h4>API Call:</h4>
            <select ng-model="env.endpoint" ng-options="i as endpoint.name group by endpoint.group for (i, endpoint) in call.endpoints" ng-change="display.changeDisplay(env.endpoint)" class="form-control"></select>
            <h5>{{display.endpoint.group}}</h5>
            <h6>Method: {{display.endpoint.method}}</h6>
            <label ng-show="display.endpoint.addIdLabel">{{display.endpoint.addIdLabel}} :
              <input ng-model="display.endpoint.addId" type="text" ng-keyup="display.updateAddId()" placeholder="{{display.endpoint.addIdLabel}}" class="form-control"/>
            </label>
            <p>{{display.endpoint.fullUrl}}</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label for="object">Paste Your Object Here</label>
            <textarea id="object" ng-model="call.data" rows="18" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <button type="button" ng-click="call.submit()" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <div>
        <ul>
          <li ng-repeat="(key, param) in call.response" style="list-style:none"> <b>{{key}} : </b>{{param}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>