div
  h1 REST Test
  .row
    .col-xs-6
      form.form-horizontal
        .form-group
          .col-xs-12
            h4.alert.alert-success(ng-model="call.cred.response.valid", ng-show="call.cred.response.valid") {{call.cred.response.valid}}
            h4.alert.alert-danger(ng-model="call.cred.response.invalid", ng-show="call.cred.response.invalid") {{call.cred.response.invalid}}
        .form-group
          .col-xs-6
            label(for="clientid") Client ID
            input#clientid.form-control(type="text", ng-model="call.clientid")
          .col-xs-6
            label(for="clientsecret") Client Secret
            input#clientsecret.form-control(type="text", ng-model="call.clientsecret")
            br
        .form-group
          .col-xs-12
            button.btn.btn-primary(ng-click="call.cred.submit()") Test credentials
        .form-group
          .col-xs-6
            select.form-control(ng-model="env.host", ng-options="env.host as env.name for env in call.envs")
          .col-xs-6
            select.form-control(ng-model="env.method", ng-options="method.type as method.type for method in call.methods")
            br
        .form-group
          .col-xs-12
            select.form-control(ng-model="env.endpoint", ng-options="endpoint.url as endpoint.url for endpoint in call.endpoints", disabled)
            br
        .form-group
          .col-xs-12
            label(for="object") Paste Your Object Here
            textarea#object.form-control(ng-model="call.data", rows="18", disabled)
            br
        .form-group
          .col-xs-12
            button.btn.btn-primary(type="button", ng-click="call.submit()", disabled) Submit
    .col-xs-6
      div(ng-model="call.response") 
        ul
          li(ng-repeat="(key, param) in call.response", style="list-style:none") 
            b {{key}} : 
            | {{param}}
